.desktop-2,
.desktop-2 * {
  box-sizing: border-box;
}
.desktop-2 {
  background: #ffffff;
  height: 8572px;
  position: relative;
  overflow: hidden;
}
.rectangle-39 {
  background: linear-gradient(
    180deg,
    rgba(91, 151, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 1920px;
  height: 3060px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  left: 471px;
  top: 256px;
}
.frame-7 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 172px;
  top: 4093px;
  overflow: hidden;
}
._19 {
  text-align: left;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 5264px;
  width: 966px;
  height: 606px;
}
._19-span {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
._19-span2 {
  color: #2070fa;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
._19-span3 {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
._19-span4 {
  color: #2070fa;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
._19-span5 {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
._19-span6 {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
._19-span7 {
  color: #2070fa;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
._19-span8 {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div2 {
  text-align: left;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 8099px;
  width: 960px;
  height: 523px;
}
.div-2-span {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-2-span2 {
  color: #2070fa;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-2-span3 {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-2-span4 {
  color: #2070fa;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-2-span5 {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-2-span6 {
  color: #2070fa;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-2-span7 {
  color: #000000;
  font-family: "BmHannaAirOtf-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.vector {
  width: 0.46%;
  height: 0.18%;
  position: absolute;
  right: 90.59%;
  left: 8.96%;
  bottom: 66.33%;
  top: 33.5%;
  transform: translate(0px, -8.76px);
  overflow: visible;
}
.rectangle-41 {
  background: #2070fa;
  width: 2099px;
  height: 518px;
  position: absolute;
  left: -55px;
  top: 3707px;
}
.rectangle-35 {
  background: #2070fa;
  border-radius: 195px;
  width: 1416px;
  height: 247px;
  position: absolute;
  left: 251px;
  top: 3236px;
}
.rectangle-40 {
  background: #2070fa;
  border-radius: 195px;
  width: 2283px;
  height: 555px;
  position: absolute;
  left: -181px;
  top: 1521px;
}
.rectangle-36 {
  background: #2070fa;
  border-radius: 195px;
  width: 327px;
  height: 110px;
  position: absolute;
  left: 297px;
  top: 4349px;
}
.rectangle-37 {
  background: #2070fa;
  border-radius: 195px;
  width: 280px;
  height: 110px;
  position: absolute;
  left: 304px;
  top: 7142px;
}
.travellers-choice {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 80px;
  font-weight: 600;
  position: absolute;
  left: 564px;
  top: 3893px;
}
.group-3 {
  width: 10.64%;
  height: 2.17%;
  position: absolute;
  right: 77.79%;
  left: 11.56%;
  bottom: 50.19%;
  top: 47.64%;
  transform: translate(0px, -204.35px);
  overflow: visible;
}
._20241124163200-1 {
  border-radius: 89px;
  width: 1201px;
  height: 609px;
  position: absolute;
  left: 394px;
  top: 2498px;
  object-fit: cover;
}
.div3 {
  color: #2070fa;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 48px;
  font-weight: 600;
  position: absolute;
  left: 603px;
  top: 2239px;
  width: 1064px;
  height: 130px;
}
.div4 {
  color: #ffffff;
  text-align: left;
  font-family: "BmHannaPro-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 579px;
  top: 3326px;
  width: 1340px;
  height: 208px;
}
.rectangle-38 {
  background: #2070fa;
  border-radius: 195px;
  width: 263px;
  height: 110px;
  position: absolute;
  left: 272px;
  top: 5751px;
}
.image-5 {
  border-radius: 412px;
  width: 738px;
  height: 1111px;
  position: absolute;
  left: 591px;
  top: 462px;
  object-fit: cover;
}
.image-7 {
  border-radius: 412px;
  width: 477px;
  height: 718px;
  position: absolute;
  left: 33px;
  top: 681px;
  object-fit: cover;
}
.image-8 {
  border-radius: 412px;
  width: 477px;
  height: 718px;
  position: absolute;
  left: 1410px;
  top: 700px;
  object-fit: cover;
}
.div5 {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 600;
  position: absolute;
  left: 550px;
  top: 1733px;
  width: 889px;
  height: 779px;
}
.group-4 {
  position: absolute;
  inset: 0;
}
.image-1 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 308px;
  top: 4547px;
  object-fit: cover;
}
.image-6 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 765px;
  top: 4547px;
  object-fit: cover;
}
.image-9 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 1221px;
  top: 4547px;
  object-fit: cover;
}
._01 {
  color: #ffffff;
  text-align: left;
  font-family: "AssacomFreeGothicTtf-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 339px;
  top: 4362px;
  width: 1340px;
}
._02 {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  left: 304px;
  top: 5773px;
  width: 1340px;
}
.group-5 {
  position: absolute;
  inset: 0;
}
.image-72 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 764px;
  top: 5938px;
  object-fit: cover;
}
.image-2 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 312px;
  top: 5938px;
  object-fit: cover;
}
.image-10 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 1216px;
  top: 5938px;
  object-fit: cover;
}
._03 {
  color: #ffffff;
  text-align: left;
  font-family: "GangwonStateOtf-SemiBold", sans-serif;
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  left: 336px;
  top: 7167px;
  width: 1340px;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.image-3 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 310px;
  top: 7347px;
  object-fit: cover;
}
.image-82 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 762px;
  top: 7347px;
  object-fit: cover;
}
.image-11 {
  border-radius: 236px;
  width: 391px;
  height: 579px;
  position: absolute;
  left: 1218px;
  top: 7347px;
  object-fit: cover;
}
.div6 {
  text-align: left;
  position: absolute;
  left: calc(50% - 529px);
  top: 6643px;
  width: 1052px;
  height: 594px;
}
.div-6-span {
  color: #000000;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span2 {
  color: #2070fa;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span3 {
  color: #2070fa;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span4 {
  color: #000000;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span5 {
  color: #2070fa;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span6 {
  color: #000000;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span7 {
  color: #2070fa;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span8 {
  color: #000000;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span9 {
  color: #2070fa;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
.div-6-span10 {
  color: #000000;
  font-family: "BmHannaAir-Regular", sans-serif;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: -0.05em;
  font-weight: 400;
}
